apiVersion: apps/v1
kind: Deployment
metadata:
  name: hello-app
  namespace: dev
  labels:
    app: hello-app
spec:
  replicas: 1
  selector:
    matchLabels:
      app: hello-app
      pipecd.dev/variant: primary
  template:
    metadata:
      labels:
        app: hello-app
        pipecd.dev/variant: primary
    spec:
      containers:
      - name: hello-app
        image: ghcr.io/<あなたのGitHubアカウント名>/hello-app:v0.0.1
        ports:
        - containerPort: 8080
